<!DOCTYPE html>{% load static %}
<html>
<head>
  <link href="https://images.twerk.click/css/bilderrahmen.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <script src="https://images.twerk.click/script/require.js"></script>
  <style>
        body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        a {
            margin: 5px; /* to add some spacing between images */
        }
  </style>
</head>
<body>
	<a href="https://images.twerk.click/Random_Band_0001.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0001_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Serpentine Letter" alt="The Serpentine Letter" /></a>
	<a href="https://images.twerk.click/Random_Band_0002.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0002_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Fathers" alt="The Fathers" /></a>
	<a href="https://images.twerk.click/Random_Band_0003.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0003_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Schools" alt="The Schools" /></a><br clear="all" />
	<a href="https://images.twerk.click/Random_Band_0004.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0004_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Deep Throat & The Bellicose Juices!" alt="Deep Throat & The Bellicose Juices!" /></a>
	<a href="https://images.twerk.click/Random_Band_0005.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0005_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="This Researcher & The Thing!" alt="This Researcher & The Thing!" /></a>
	<a href="https://images.twerk.click/Random_Band_0006.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0006_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Black Cobras" alt="The Black Cobras" /></a><br clear="all" />
	<a href="https://images.twerk.click/Random_Band_0007.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0007_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Nerdy Girls" alt="Nerdy Girls" /></a><a href="https://images.twerk.click/Random_Band_0008.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0008_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Our Book & My Bed" alt="Our Book & My Bed" /></a>
	<a href="https://images.twerk.click/Random_Band_0009.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0009_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Comically Obscene Girls" alt="The Comically Obscene Girls" /></a><br clear="all" />
	<a href="https://images.twerk.click/Random_Band_0010.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0010_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Cadavers" alt="The Cadavers" /></a>
	<a href="https://images.twerk.click/Random_Band_0011.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0011_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Hoboes" alt="The Hoboes" /></a>
	<a href="https://images.twerk.click/Random_Band_0012.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0012_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Our Face & Her Darkness" alt="Our Face & Her Darkness" /></a><br clear="all" />
	<a href="https://images.twerk.click/Random_Band_0013.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0013_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Corpses" alt="Corpses" /></a>
	<a href="https://images.twerk.click/Random_Band_0014.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0014_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="Medieval Edge" alt="Medieval Edge" /></a>
	<a href="https://images.twerk.click/Random_Band_0015.png" target="_blank"><img src="https://images.twerk.click/Thumbs/Random_Band_0015_tm.png"
	data-bilderrahmen="gallery-01"
	data-bilderrahmen-title="The Children" alt="The Children" /></a>
  <script>
    require(['https://images.twerk.click/script/bilderrahmen.umd.es5.js'], function(module) {
        new module.Bilderrahmen({ closeOnOutsideClick: true });
    });
  </script>
</body>
</html>
