[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
boto3 = "==1.38.3"
coreapi = "2.3.3"
coverage = "7.8.0"
dj-database-url = "<3.0,>=2.0"
django = ">=5.0,<5.2"
djangorestframework = "==3.16.0"
djangorestframework-simplejwt = "==5.4.0"
gunicorn = "==23.0.0"
inflect = "7.5.0"
psycopg = {extras = ["binary"], version = "3.2.6"}
setuptools = "==79.0.0"
sqlparse = "==0.5.3"
whitenoise = {extras = ["brotli"], version = "<7.0,>=6.0"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
