Brotli==1.1.0
Django==5.0.1
annotated-types==0.6.0
asgiref==3.7.2
dj-database-url==2.1.0
gunicorn==21.2.0
inflect==7.0.0
packaging==23.2
psycopg-binary==3.1.16
psycopg==3.1.16
pydantic==2.5.3
pydantic_core==2.14.6
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0
