<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Bands.Twerk.Click</title>
    {% else %}
    <title>Bands.Twerk.Click</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% block additional_css %}
    <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
    {% endblock %}
    <style>
        pre.openapi {
            width: 720px;
            border: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
{% block additional_js %}
<script src="{% static 'js/prism.js' %}"></script>
{% endblock %}
</body>
</html>
